---
import Layout from '../../layouts/MarkdownLayout.astro'
---

<Layout
  title="SAMF BOARD OF DIRECTORS"
  description="The St. Augustine Music Festival (SAMF) was conceived as a free chamber music concert series to celebrate the rich artistic and cultural traditions of St. Augustine."
>
  <p>
    The St. Augustine Music Festival endeavors to connect culture and community through world-class music. We deepen the
    connection to the rich cultural and historical traditions of the region through the artistic and sophisticated
    chamber music performances to strengthen and unify the St. Augustine community.
  </p>
  <p>
    Our Board of Directors also plays an important role in engaging the community. Each member of the diverse SAMF Board
    brings a different background, view, and expertise that propels SAMF to expand and evolve with meaningful and
    purposeful world-class music experiences.
  </p>
  <div class="grid grid-cols-2 gap-4">
    <div>
      <h2 class="underline">Board of Directors</h2>
      <ul>
        <!-- List of directors -->
        <li>Jorge Peña, Artistic Director, Founder</li>
        <li>Jin Kim-Peña, Founder</li>
        <li>Bill Boxer, Executive Director</li>
        <li>Nell Toensmann, Board Chair, Secretary</li>
        <li>Gray Mason, Vice-Chair</li>
        <li>Robert Fulton, Secretary</li>
        <li>Svetlana Gerkerov, Treasurer</li>
        <li>Robert Bergstrom</li>
        <li>Michele Bova</li>
        <li>Peter Gladstone</li>
        <li>Francisco Guitard</li>
        <li>Cathy Hamilton</li>
        <li>Katheryn Hancock</li>
        <li>Mary Knieps</li>
        <li>Shayla Brooke Nelson</li>
        <li>Olga Kostrubsky</li>
        <li>Jorge Rivera</li>
        <li>Joseph Volpe</li>
        <li>Lowell Weiner</li>
      </ul>
    </div>
    <div>
      <h2 class="underline">Emeritus Board Members</h2>
      <ul>
        <!-- List of emeritus board members -->
        <li>David P. Brezing</li>
        <li>Bonnie Foster</li>
        <li>David Foster, Esq.</li>
        <li>Janet Ponton Lewis</li>
        <li>Martha Margaride</li>
        <li>Sheila Russo</li>
      </ul>
    </div>
  </div>
</Layout>
