---
import Layout from '../../layouts/MarkdownLayout.astro'
---

<Layout
  title="The SAMF Mission"
  description="The St. Augustine Music Festival (SAMF) was conceived as a free chamber music concert series to celebrate the rich artistic and cultural traditions of St. Augustine."
  heroImage="/SAMF_2violinist.jpg"
>
  <p>
    The mission of the St. Augustine Music Festival is to produce, perform, and promote a world-class traditional and
    contemporary classical/chamber music experience to a diverse audience in an accessible, welcoming, and uplifting
    environment to enhance the quality of life within the community through the inspiring power of music.
  </p>
  <p>At SAMF, we entertain, educate, and elevate through music.</p>
  <p>We entertain our audience with positive, inspiring, and creative musical performances.</p>
  <p>
    We educate our audience through lectures and discussions to gather insight into chosen musical selections, gain
    exposure to new ideas or concepts, and cultivate new talent in schools, organizations, and collaborations.
  </p>
  <p>
    We elevate our audience on the emotional and spiritual levels through the memorable and joyful experience of sharing
    world-class musical performances.
  </p>
</Layout>
