---
import Layout from '../../layouts/MarkdownLayout.astro'
import Preformer from '../../components/Preformer.astro'

import jorgePena from '/about-assets/SAMFPerformanceJorge.jpeg'
---

<Layout
  title="SAMF Preformers"
  description="The St. Augustine Music Festival (SAMF) was conceived as a free chamber music concert series to celebrate the rich artistic and cultural traditions of St. Augustine."
>
  <p>
    The St. Augustine Music Festival engages professional musicians of the classical music genre to build their
    expertise and resumé to perform in a quality, world-class festival to a diverse audience in an accessible, welcoming
    community environment. SAMF also attracts internationally renowned performers and living legends – as well as rising
    stars of the craft – to share their expertise and appreciation for this genre of music among a new audience.
  </p>
  <Preformer title="Jorge A. Peña" pic={jorgePena}>
    <h1>Jorge A. Peña</h1>
    <h2>Viola; SAMF co-Founder and Artistic Director</h2>
    <p>
      A former member of the Kennedy Center Opera House Orchestra, Mr. Peña came to the Jacksonville Symphony Orchestra
      in 1996. He was born in Honduras and educated in the U.S., attending Columbus State University and earning a
      degree in performance and chamber music from the Peabody Conservatory of Music, where he studied with Philadelphia
      Orchestra principal viola and president of the Curtis Institute Roberto Diaz, Baltimore Symphony Orchestra
      principal viola Richard Field, and Julliard Quartet member Earl Carlys. His chamber music experience includes the
      National Gallery of Art Chamber Orchestra, Virginia Chamber Orchestra, Atlanta Virtuosi, Tanglewood Music Center,
      Grand Teton Music Festival, University of North Florida, and the Ritz Chamber Players as well as solo and small
      ensemble recitals in North America, Central America, Europe, and Asia. He is a teacher and clinician for chamber
      music as well as solo master classes at LaVilla School of the Arts, Douglas Anderson School of the Arts, and the
      University of North Florida. Mr. Peña coaches violin and viola for the Jacksonville Symphony Youth Orchestra and
      coaches chamber music in the JSYO chamber music program and is on the faculty of Prelude Chamber Music Camp. Mr.
      Peña is a founder of the Sonora Ensemble, the Movado String Quartet; and founder and Artistic Director of the St.
      Augustine Music Festival. He is conductor and music director of the Coastal Youth Orchestra, and General Manager
      of the Coastal Symphony of Georgia in Brunswick, GA.
    </p>
  </Preformer>
</Layout>
