---
import Layout from '../../layouts/MarkdownLayout.astro'
---

<Layout
  title="SAMF Preformers"
  description="The St. Augustine Music Festival (SAMF) was conceived as a free chamber music concert series to celebrate the rich artistic and cultural traditions of St. Augustine."
> 
<p>The St. Augustine Music Festival engages professional musicians of the classical music genre to build their expertise and resumé to perform in a quality, world-class festival to a diverse audience in an accessible, welcoming community environment. SAMF also attracts internationally renowned performers and living legends – as well as rising stars of the craft – to share their expertise and appreciation for this genre of music among a new audience.</p>
</Layout>