---
import Layout from '../../layouts/MarkdownLayout.astro'
---

<Layout
  title="The SAMF Venues"
  description="The St. Augustine Music Festival (SAMF) was conceived as a free chamber music concert series to celebrate the rich artistic and cultural traditions of St. Augustine."
  heroImage="/SAMF_basilica.jpg"
>
  <h3>St. Augustine Cathedral Basilica</h3>
  <p>
    The immaculately beautiful St. Augustine Cathedral Basilica that welcomes worshippers, visitors, and St. Augustine
    Music Festival concert-goers today is the result of a major renovation and restoration that shuttered the structure
    for several months. The renovation, unveiled in March of 2015 in time for the city’s 450th birthday celebrations,
    included repair of water damage, rebuilding the altar platform and surrounding Sanctuary area, constructing a choir
    loft, enlarging the vestibule, and replacing all pews.
  </p>
  <p>
    The Cathedral Basilica’s lineage reaches back to 1565, when Don Pedro Menendez de Aviles established St. Augustine
    in the name of Catholic Spain.
  </p>
  <p>
    Menendez landed at the harbor of a native Timucuan settlement and founded what is now the oldest permanently
    occupied European settlement in the United States. The origins of the Cathedral Parish can be traced to this site,
    now the Mission Nombre de Dios, about two miles north of the current Cathedral Basilica.
  </p>
  <p>
    The first record of a parish church was on the southeast corner of the city’s plaza, or town square. The structure,
    along with the rest of St. Augustine, was pillaged and burned in 1586 by British raiders led by Francis Drake. The
    rebuilt city was sacked again in 1702 by Carolina Governor James Moore, with the church again burned.
  </p>
  <p>
    From 1763 to 1784, the British controlled Florida, and the Catholic parish languished. With the restoration of
    Spanish control in 1784, the construction of a church became a priority of the Spanish crown. In 1793, the
    cornerstone was laid for a parish church at the site of today’s Basilica.
  </p>
  <p>
    The Diocese of St. Augustine was established in 1870, with the parish church raised to Cathedral for the new
    Diocese. A fire that spread from a nearby hotel in 1887 nearly destroyed the Cathedral, which was not only rebuilt
    but enlarged to its present-day scale. In 1976, Pope Paul VI raised the Cathedral to the status of minor basilica.
  </p>
  <p>
    The St. Augustine Music Festival – an independent, not-for-profit group – has presented concerts in the Cathedral
    since 2007, thanks to the gracious permission and welcome of the parish.
  </p>
  <p>
    For more about the Cathedral’s history, visit <a href="https://thefirstparish.org/" target="_blank"
      >thefirstparish.org</a
    >.
  </p>
  <h3>The St. Augustine Art Association</h3>
  <h3>The Peña-Peck House</h3>
</Layout>
