// | -------------------------------------------------------------
// | Color
// | -------------------------------------------------------------

$colors: (
  primary: (
    100: hsl(21, 10%, 85%),
    200: hsl(21, 10%, 75%),
    300: hsl(21, 10%, 65%),
    400: hsl(21, 10%, 55%),
    500: hsl(21, 10%, 45%),
  ),

  secondary: (
    100: hsl(45, 34%, 76%),
    200: hsl(45, 34%, 66%),
    300: hsl(45, 34%, 56%),
    400: hsl(45, 34%, 46%),
    500: hsl(45, 34%, 26%),
  ),
  neutral: (
    100: hsl(0, 0%, 100%),
    200: hsl(0, 0%, 85%),
    300: hsl(0, 0%, 75%),
    400: hsl(0, 0%, 65%),
    500: hsl(0, 0%, 55%),
    600: hsl(0, 0%, 45%),
    700: hsl(0, 0%, 35%),
    800: hsl(0, 0%, 25%),
    900: hsl(0, 0%, 5%),
  ),

  dark: (
    100: hsl(223, 58%, 5%),
  ),
);
