// | -------------------------------------------------------------
// | Container
// | -------------------------------------------------------------

@use 'breakpoint' as *;

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(2rem / 2);
  padding-right: calc(2rem / 2);
  max-width: 100%;

  @include breakpoint(medium) {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  @include breakpoint(large) {
    padding-left: calc(2rem / 2);
    padding-right: calc(2rem / 2);
    max-width: 1200px;
  }

  &.stretch {
    max-width: 100%;
  }
}
