---
import Layout from '../layouts/MarkdownLayout.astro'
---

<Layout
  title="The SAMF Story"
  description="The St. Augustine Music Festival (SAMF) was conceived as a free chamber music concert series to celebrate the rich artistic and cultural traditions of St. Augustine."
  heroImage="/SAMFPerformanceViolins.jpeg"
>
  <div class="prose-lg">
    <p>
      For several years, the St. Augustine area has observed a steady increase in tourism and continuous growth in
      population and commerce. Despite this – and the availability of accomplished talent migrating to the area – a void
      in quality cultural events seemed to exist.
    </p>

    <p>
      Recognizing the lack of opportunity for world-class performances in the St. Augustine area, Jacksonville Symphony
      Orchestra members Jorge A. Peña (viola) and Jin Kim-Peña (cello) envisioned a classical music series to celebrate
      the history and rich cultural traditions of The Nation’s Oldest City.
    </p>

    <p>
      In 2007, the St. Augustine Music Festival (SAMF) was conceived as a free chamber music concert series to celebrate
      the rich artistic and cultural traditions of St. Augustine. The SAMF Chamber Orchestra concerts are presented at
      the historic Cathedral Basilica of St. Augustine, a beautiful, convenient, and accessible location with
      exceptional acoustics. This uplifting and welcoming setting provides SAMF attendees the opportunity to deepen
      their appreciation for this genre of music, connect with the community, and participate in a memorable and
      fulfilling experience.
    </p>

    <p>
      Celebrating over a decade of world-class concerts, the SAMF Chamber Orchestra attracts internationally
      accomplished performers and young rising stars to its series roster each year. The annual festival has since
      become a highlight of St. Augustine’s summer season and continues to be the nation’s largest free chamber music
      festival.
    </p>
  </div>
</Layout>
