---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
import Counter from '../components/Counter.astro'
import ContentMedia from '../components/ContentMedia.astro'
---

<DefaultLayout title="Home">
  <Hero />
  <ContentMedia imgSrc="../../public/SAMFPerformanceNigel.jpeg" reverseImg={true}>
    <h2 class="uppercase">ST. AUGUSTINE MUSIC FESTIVAL</h2>
    <p class="text-md">
      The St. Augustine Music Festival produces, performs, and promotes inspiring, world-class music to a diverse
      audience in an accessible, welcoming environment to enhance the quality of life and further the sense of
      connection within the community. At SAMF, we entertain, educate, and elevate through music. We entertain our
      audience with positive, inspiring, and creative musical performances. We educate our audience through lectures and
      discussions to gather insight into chosen musical selections, gain exposure to new ideas or concepts, and
      cultivate new talent in schools, organizations, and collaborations. We elevate our audience on the emotional and
      spiritual levels through the memorable and joyful experience of sharing world-class musical performances.
    </p>
    <a href="" class="button" aria-label="Learn More" title="Learn More"> Learn More</a>
  </ContentMedia>
  <ContentMedia imgSrc="../../public/SAMFPerformanceCellos.jpeg">
    <h2 class="uppercase">EXPERIENCE THE BENEFITS OF SAMF…</h2>
    <p class="text-md">
      It has been proven in the scientific and medical fields that listening to classical music results in mental and
      physical benefits – such as improved sleep quality, reduction of stress, better pain management, and positive
      effects on mood, productivity, and creativity. Plus, participating in a quality event that promotes a joyful,
      enriching, and memorable experience close to home in a neighborly environment will deepen and strengthen the bond
      within the community for years to come.
    </p>
    <a href="" class="button" aria-label="Learn More" title="Learn More"> Learn More</a>
  </ContentMedia>
</DefaultLayout>
