---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
import Counter from '../components/Counter.astro'
import ContentMedia from '../components/ContentMedia.astro'
import SupportSection from '../components/SupportSection.astro'
import CallToAction from '../components/CallToAction.astro'
import Newsletter from '../components/Newsletter.astro'
import spotlightPerformer from '../assets/img/jorge-pena.jpg'
import { Media } from 'accessible-astro-components'
import EmailList from '../components/EmailList.astro'
---

<DefaultLayout title="Home">
  <Hero />
  <ContentMedia imgSrc="/SAMFPerformanceNigel.jpeg" reverseImg={true}>
    <div class="flex flex-col items-center gap-6">
      <div>
        <h3 class="text-center uppercase lg:text-left">St. Augustine Music Festival</h3>
      </div>
      <div>
        <p class="text-center text-base lg:text-left lg:text-lg">
          The St. Augustine Music Festival (SAMF) offers world-class, inspiring music to a diverse audience in an
          accessible, friendly atmosphere. We aim to enrich lives and foster community connections through our
          performances. Our approach is threefold: we entertain with creative, uplifting music; we educate via
          insightful lectures and discussions, introducing fresh ideas and nurturing talent within schools and
          organizations; and we elevate listeners emotionally and spiritually through the shared experience of
          remarkable musical performances.
        </p>
      </div>
      <div class="mb-6 flex justify-center">
        <a href="" class="button" aria-label="Learn More" title="Learn More"> Learn More</a>
      </div>
    </div>
  </ContentMedia>
  <ContentMedia imgSrc="/SAMFPerformanceCellos.jpeg" reverseImg={true}>
    <div class="flex flex-col gap-6">
      <div>
        <h2 class="text-center uppercase lg:text-left">Experience the benefits of SAMF</h2>
      </div>
      <div>
        <p class="text-center text-base lg:text-left lg:text-lg">
          It has been proven in the scientific and medical fields that listening to classical music results in mental
          and physical benefits – such as improved sleep quality, reduction of stress, better pain management, and
          positive effects on mood, productivity, and creativity. Plus, participating in a quality event that promotes a
          joyful, enriching, and memorable experience close to home in a neighborly environment will deepen and
          strengthen the bond within the community for years to come.
        </p>
      </div>
      <div class="mb-6 flex justify-center">
        <a href="" class="button" aria-label="Learn More" title="Learn More"> Learn More</a>
      </div>
    </div>
  </ContentMedia>
  <section class="mb-4 flex flex-col justify-center" id="content-media">
    <div class="container pt-10">
      <div class="grid grid-cols-1 items-center lg:grid-cols-2">
        <div class="lg:max-w-[90%] lg:pr-4">
          <div class="flex flex-col items-center gap-10 sm:gap-16 lg:items-start">
            <div class="flex flex-col gap-2">
              <div>
                <h2 class="text-center text-4xl uppercase lg:text-left">Spotlight Performer</h2>
              </div>
              <div class="text-center lg:text-left">
                <p class="text-2xl uppercase">Jorge A. PEÑA</p>
                <p class="pt-2 text-sm uppercase">Viola, SAMF Co-Founder and artistic director</p>
              </div>
            </div>
            <div class="flex items-start lg:hidden">
              <Media class="w-full p-0 rounded-lg mb-6" src={spotlightPerformer} />
            </div>
            <div>
              <p class="text-center text-base lg:text-left lg:text-lg">
                A former member of the Kennedy Center Opera House Orchestra, Mr. Peña came to the Jacksonville Symphony
                Orchestra in 1996. He was born in Honduras and educated in the U.S., attending Columbus State University
                and earning a degree in performance and chamber music from the Peabody
              </p>
            </div>
          </div>
          <div class="flex justify-center pt-6">
            <a href="" class="button" aria-label="Learn More" title="Learn More"> Learn More</a>
          </div>
        </div>
        <div class="hidden items-start lg:flex">
          <Media class="w-full p-0 rounded-lg mb-6" src={spotlightPerformer} />
        </div>
      </div>
    </div>
  </section>
  <EmailList />
  <SupportSection />
  <CallToAction />
</DefaultLayout>
