---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
import Counter from '../components/Counter.astro'
import ContentMedia from '../components/ContentMedia.astro'
import CallToAction from '../components/CallToAction.astro'
import spotlightPerformer from '../assets/img/jorge-pena.jpg'
import { Media } from 'accessible-astro-components'
---

<DefaultLayout title="Home">
  <Hero />
  <ContentMedia imgSrc="/SAMFPerformanceNigel.jpeg" reverseImg={true}>
    <div class="flex flex-col items-center gap-6">
      <div>
        <h2 class="text-center uppercase lg:text-left">St. Augustine Music Festival</h2>
      </div>
      <div>
        <p class="text-md text-center lg:text-left lg:text-lg">
          The St. Augustine Music Festival produces, performs, and promotes inspiring, world-class music to a diverse
          audience in an accessible, welcoming environment to enhance the quality of life and further the sense of
          connection within the community. At SAMF, we entertain, educate, and elevate through music. We entertain our
          audience with positive, inspiring, and creative musical performances. We educate our audience through lectures
          and discussions to gather insight into chosen musical selections, gain exposure to new ideas or concepts, and
          cultivate new talent in schools, organizations, and collaborations. We elevate our audience on the emotional
          and spiritual levels through the memorable and joyful experience of sharing world-class musical performances.
        </p>
      </div>
      <div class="mb-6 flex justify-center">
        <a href="" class="button" aria-label="Learn More" title="Learn More"> Learn More</a>
      </div>
    </div>
  </ContentMedia>.
  <ContentMedia imgSrc="/SAMFPerformanceCellos.jpeg" reverseImg={true}>
    <div class="flex flex-col gap-6">
      <div>
        <h2 class="text-center uppercase lg:text-left">Experience the benefits of SAMF</h2>
      </div>
      <div>
        <p class="text-md text-center lg:text-left lg:text-lg">
          It has been proven in the scientific and medical fields that listening to classical music results in mental
          and physical benefits – such as improved sleep quality, reduction of stress, better pain management, and
          positive effects on mood, productivity, and creativity. Plus, participating in a quality event that promotes a
          joyful, enriching, and memorable experience close to home in a neighborly environment will deepen and
          strengthen the bond within the community for years to come.
        </p>
      </div>
      <div class="mb-6 flex justify-center">
        <a href="" class="button" aria-label="Learn More" title="Learn More"> Learn More</a>
      </div>
    </div>
  </ContentMedia>
  <section class="xl:my-[6rem] flex flex-col justify-center" id="content-media">
    <div class="container pt-10 border-t-[3px] border-neutral-900 dark:border-neutral-100">
      <div class="grid grid-cols-1 lg:grid-cols-2 items-center">
        <div class="lg:pr-4 lg:max-w-[90%]">
          <div class="flex flex-col items-center lg:items-start gap-10 sm:gap-16">
            <div class="flex flex-col gap-2">
              <div>
                <h2 class="text-center uppercase lg:text-left text-4xl">Spotlight Performer</h2>
              </div>
              <div class="text-center lg:text-left">
                <p class="text-2xl uppercase">Jorge A. PEÑA</p>
                <p class="pt-2 uppercase text-sm">Viola, SAMF Co-Founder and artistic director</p>
              </div>
            </div>
            <div class="flex items-start lg:hidden">
              <Media class=" w-full p-0 rounded-lg mb-6" src={spotlightPerformer} />
            </div>
            <div>
              <p class="text-md text-center lg:text-left lg:text-lg">
                A former member of the Kennedy Center Opera House Orchestra, Mr. Peña came to the Jacksonville Symphony
                Orchestra in 1996. He was born in Honduras and educated in the U.S., attending Columbus State University and
                earning a degree in performance and chamber music from the Peabody
              </p>
            </div>
          </div>
          <div class="pt-6 mb-6 flex justify-center">
            <a href="" class="button" aria-label="Learn More" title="Learn More"> Learn More</a>
          </div>
        </div>
        <div class="lg:flex hidden items-start">
          <Media class=" w-full p-0 rounded-lg mb-6" src={spotlightPerformer} />
        </div>
      </div>
    </div>
  </section>
    
  
  <CallToAction />
</DefaultLayout>
