---
import Layout from '../layouts/MarkdownLayout.astro'
---

<Layout title="BECOME A SPONSOR" heroImage="/SAMF_percussion.jpeg">
  <div class="prose-lg">
    <p>
      The St. Augustine Music Festival produces, performs, and promotes inspiring, world-class music to a diverse
      audience in an accessible, welcoming environment to enhance the quality of life and further the sense of
      connection within the community. Donors, sponsors, and partners participate in the SAMF pre-concert VIP reception,
      partake in the music experience, witness the impact of their contribution within the community firsthand, and
      engage in more visibility and awareness throughout the region.
    </p>

    <p>
      Sponsors are vital to the success of SAMF performances each year, as each sponsors’ contributions further the
      sense of connection and positive impact within the community. We have 8 sponsor donor levels:
    </p>

    <ul>
      <li>Impresario ($7,500+)</li>
      <li>Prodigy ($5,000 – $7,499)</li>
      <li>Maestro ($3,500 – $4,999)</li>
      <li>Virtuoso ($1,200 – $2,999)</li>
      <li>Diva ($600 – $1,199)</li>
      <li>Concert Master ($350 – $599)</li>
      <li>First Chair ($150 – $349)</li>
      <li>Second Chair (Up to $149)</li>
    </ul>

    <p>
      <a href="">Contact us</a> to learn more about the many benefits of sponsoring our 2021 season.
    </p>
  </div>
</Layout>
