---
import Icon from 'astro-icon'
---

<div class="flex justify-between bg-neutral-900 px-6 py-2 text-neutral-100 dark:bg-neutral-100 dark:text-neutral-900">
  <p>Entertain, Educate, and Elevate Through Music.</p>
  <div class="flex">
    <p>Connect with Us</p>
    <div class="flex space-x-4 pl-4">
      <Icon name="mdi:facebook-box" class="w-6 h-6" />
      <Icon name="mdi:instagram" class="w-6 h-6" />
      <Icon name="mdi:youtube" class="w-6 h-6" />
    </div>
  </div>
</div>
