---
import Icon from 'astro-icon'

const socialLinks = [
  {
    name: 'Facebook',
    icon: 'mdi:facebook-box',
    url: 'https://www.facebook.com/staugmusicfest/',
  },
  {
    name: 'Instagram',
    icon: 'mdi:instagram',
    url: 'https://www.instagram.com/staugmusicfest/',
  },
  {
    name: 'YouTube',
    icon: 'mdi:youtube',
    url: 'https://www.youtube.com/channel/UCDlCP1ESgcS6u2OHAVUGD0g',
  },
]
---

<div
  class="flex justify-center bg-neutral-900 px-6 py-2 text-neutral-100 dark:bg-neutral-200 dark:text-neutral-900 sm:justify-between"
>
  <p class="hidden text-center sm:block">Entertain, Educate, and Elevate Through Music.</p>
  <div class="flex items-center">
    <p class="text-[14px] sm:text-sm">Connect with Us</p>
    <div class="flex space-x-4 pl-4">
      {
        socialLinks.map((link) => (
          <a href={link.url} target="_blank" class="h-6 w-6">
            <Icon name={link.icon} class="text-neutral-100 dark:text-neutral-900" />
          </a>
        ))
      }
    </div>
  </div>
</div>
