---
import { Media } from 'accessible-astro-components'

const sponsors = [
  { src: '/BCArts.jpg', alt: '' },
  { src: '/CommFound.jpg', alt: '' },
  { src: '/DCA.jpg', alt: '' },
  { src: '/FCOpera.jpg', alt: '' },
  { src: '/Flagler.jpg', alt: '' },
  { src: '/FlorBlue.jpg', alt: '' },
  { src: '/JaxSymp.jpg', alt: '' },
  { src: '/SAAA.jpg', alt: '' },
  { src: '/SJCC.jpg', alt: '' },
  { src: '/Troemel-Arts-Foundation.png', alt: '' },
  { src: '/WJCT.jpg', alt: '' },
  { src: '/WomensX.jpg', alt: '' },
]
---

<div
  class="mx-10 border-t-[3px] border-neutral-900 pt-10 text-neutral-100 dark:border-neutral-100 dark:text-neutral-900"
>
  .
</div>
<div>
  <div class="call-to-action mx-10 mb-10 flex flex-col items-center gap-12 rounded-xl p-12 md:mx-20 md:p-24">
    <h2 class="text-center text-3xl uppercase md:text-5xl">FEATURED SPONSORS & DONORS</h2>
    <div class="grid grid-cols-4 items-center gap-4">
      {sponsors.map(({ src, alt }) => <Media src={src} alt={alt} class="object-cover" />)}
    </div>
  </div>

  <style lang="scss">
    .call-to-action {
      color: var(--neutral-900);
      background-image: linear-gradient(40deg, var(--primary-100), var(--secondary-200));
    }

    .call-to-action a:not(button),
    .call-to-action a:not(button):visited {
      padding: 1rem;
      color: var(--neutral-900);
      font-weight: bold;
      border: 3px solid var(--neutral-900);
      border-radius: 3px;
      text-decoration: none;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;

      &:where(:hover, :focus) {
        color: var(--neutral-100);
        background-color: var(--neutral-900);
        text-decoration: underline;
      }
    }
  </style>
</div>
