---
import { Media } from 'accessible-astro-components'

const sponsors = [
  { src: '/BCArts.jpg', alt: '' },
  { src: '/CommFound.jpg', alt: '' },
  { src: '/DCA.jpg', alt: '' },
  { src: '/FCOpera.jpg', alt: '' },
  { src: '/Flagler.jpg', alt: '' },
  { src: '/FlorBlue.jpg', alt: '' },
  { src: '/JaxSymp.jpg', alt: '' },
  { src: '/SAAA.jpg', alt: '' },
  { src: '/SJCC.jpg', alt: '' },
  { src: '/Troemel-Arts-Foundation.png', alt: '' },
  { src: '/WJCT.jpg', alt: '' },
  { src: '/WomensX.jpg', alt: '' },
]
---

<div class="container pt-10"></div>
<div class="container">
  <div class="call-to-action mb-10 flex flex-col items-center gap-12 rounded-xl p-12 md:p-24">
    <h2 class="text-center text-3xl uppercase md:text-5xl">FEATURED SPONSORS & DONORS</h2>
    <div class="grid grid-cols-3 gap-8 overflow-hidden" id="slider">
      {sponsors.map(({ src, alt }) => <Media src={src} alt={alt} class="slider-item object-fit hidden w-2/3" />)}
    </div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var slider = document.getElementById('slider')
      let allSponsors = Array.from(slider.children)
      let currentSponsors = allSponsors.slice(0, 3)
      let remainingSponsors = allSponsors.slice(3)

      // Display the current sponsors
      currentSponsors.forEach((item) => item.classList.remove('hidden'))

      function slide() {
        let firstItem = currentSponsors.shift()
        firstItem.classList.add('hidden')

        currentSponsors.push(remainingSponsors.shift())
        currentSponsors[2].classList.remove('hidden')

        remainingSponsors.push(firstItem)
      }
      setInterval(slide, 3000) // Adjust this value to control the speed of the slider
    })
  </script>
</div>
