---
import { Media } from 'accessible-astro-components'

const { imgSrc, reverseImg = false } = Astro.props
---

<section class="xl:my-[6rem] flex flex-col justify-center">
  <div class="container pt-10 border-t-[3px] border-neutral-900 dark:border-neutral-100">
    <div class="grid grid-cols-1 lg:grid-cols-2 items-center">
      <div class="lg:pr-4 lg:max-w-[90%]">
        <slot />
      </div>
      <div class="flex items-start">
        <Media class=" w-full p-0 rounded-lg mb-6" src={imgSrc} />
      </div>
    </div>
  </div>
</section>
