---
import { Media } from 'accessible-astro-components'

const { imgSrc, reverseImg = false } = Astro.props
---

<section class="xl:my-[6rem]">
  <div class="mx-10 max-w-full pt-10 border-t-[3px] border-neutral-900 dark:border-neutral-100">
    <div class="grid grid-cols-1 lg:grid-cols-2">
      <div class="lg:pr-4">
        <slot />
      </div>
      <div class="flex items-start">
        <Media class=" w-full p-0 rounded-lg mb-6" src={imgSrc} />
      </div>
    </div>
  </div>
</section>
