<section id="email-list" class="container border-t-[3px] border-neutral-900 pt-10 dark:border-neutral-100">
  <form class="flex flex-col items-center">
    <div class="flex flex-col items-center border-[3px] border-neutral-500 mb-10 p-3">
      <h2 class="text-center max-w-[95%] py-4">Stay up to date with SAMF</h2>
      <p class="text-center px-4 pb-2 lg:text-lg text-base">Sign up today for free and be the first to get notified about SAMF new, performances, and events.</p>
      <input type="email" placeholder="Enter your email" class="w-[95%] p-2 my-2"/>
      <button class="button my-2">Subscribe</button>
      <p class="pb-4 pt-1 text-xs text-center">And don't worry, we hate spam too! You can unsubscribe at anytime.</p>
    </div>
    <div class="mt-2 max-w-5xl">
      <p class="text-center text-base lg:text-lg">
        By submitting this form, you are consenting to receive marketing emails from: St. Augustine Music Festival, PO
        Box 833, St. Augustine, FL, 32085, https://staugustinemusicfestival.org/. You can revoke your consent to receive
        emails at any time by using the SafeUnsubscribe® link, found at the bottom of every email. Emails are serviced
        by Constant Contact.
      </p>
    </div>
  </form>
</section>
