<section id="email-list" class="container pt-10">
  <form class="flex flex-col items-center">
    <div class="mb-10 flex flex-col items-center border-[3px] border-neutral-500 p-3">
      <h2 class="max-w-[95%] py-4 text-center">Stay up to date with SAMF</h2>
      <p class="px-4 pb-2 text-center text-base lg:text-lg">
        Sign up today for free and be the first to get notified about SAMF new, performances, and events.
      </p>
      <input type="email" placeholder="Enter your email" class="my-2 w-[95%] p-2" />
      <button class="button my-2">Subscribe</button>
      <p class="pb-4 pt-1 text-center text-xs">And don't worry, we hate spam too! You can unsubscribe at anytime.</p>
    </div>
  </form>
</section>
