---
import Feature from '../components/Feature.astro'
---

<section class="my-64">
  <div class="container">
    <h2 class="mb-16 text-center text-6xl uppercase">Support Samf</h2>
    <div class="grid grid-cols-1 gap-12 lg:grid-cols-3">
      <Feature icon="mdi:account-heart" title="Volunteer">
        If you would like to become more involved with the SAMF organization, join our family through our various
        volunteer opportunities.
      </Feature>
      <Feature
        icon="mdi:hand-heart"
        title="Donate"
        href="https://www.paypal.com/donate/?cmd=_s-xclick&hosted_button_id=LGYJBWLM3XKUA"
      >
        Your tax-deductible gift in any amount is greatly appreciated and will go a long way in supporting the SAMF
        organization.
      </Feature>
      <Feature icon="mdi:handshake" title="Sponsor">
        Further the sense of connection and positive impact within the community by becoming a sponsor of SAMF.
      </Feature>
    </div>
  </div>
</section>
