---
import DefaultLayout from './DefaultLayout.astro'

const { title, description, pubDate, updatedDate, heroImage } = Astro.props
---

<DefaultLayout>
  <div class="container">
    <div class="space-content my-12">
      <h1 class="text-center">{title}</h1>
      {
        heroImage && (
          <div class="mx-auto flex w-2/3 justify-center p-4">
            <img src={heroImage} alt={description} class="" />
          </div>
        )
      }
      <slot />
    </div>
  </div>
</DefaultLayout>
