---
import DefaultLayout from '../../layouts/DefaultLayout.astro'
import { getCollection } from 'astro:content'

const posts = (await getCollection('blog')).sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf())
---

<DefaultLayout>
  <section class="container">
    <h1>Events</h1>
    <ul class="pt-4">
      {
        posts.map((post) => (
          <li>
            <a href={`/events/${post.slug}/`}>{post.data.title}</a>
          </li>
        ))
      }
    </ul>
  </section>
</DefaultLayout>
